@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    letter-spacing: .05em;
}
html{
    height: 100%;
}
body{
    background-color: #f6f7f8;
    height: 100%;
}
#container{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#fgh{
    width: 100%;
    height: 10px;
    /* background-color: #F00; */
}
#hfgh{
    width: 60%;
    height: 0.5px;
    background-color: #FFF;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#container #header{
    width: 100%;
    height: 60px;
    background-color: #27282d;
}
#container #header #hbar{
    width: 1200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}
#container #header #hbar #logo{
    width: 130px;
    height: 60px;
    color: #FFF;
    margin-right: 10px;
    float: left;
}
#container #header #hbar #horizontalbar{
    width: 680px;
    height: 60px;
    margin-right: 10px;
    float: left;
}
#container #header #hbar #horizontalbar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#container #header #hbar #horizontalbar ul li{
    float: left;
}
#container #header #hbar #horizontalbar ul li a{
    font-family: "宋体";
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	line-height: 60px;
	height: 60px;
}
#container #header #hbar #horizontalbar ul li a:hover{
    font-family: "宋体";
    font-size: 18px;
    font-weight: bold;
    color: #F00;
    line-height: 60px;
    height: 60px;
    display: block;
}
#container #header #hbar #search{
    width: 258px;
    height: 60px;
    line-height: 60px;
    color: #FFF;
    margin-right: 10px;
    float: left;
}
#container #header #hbar #search .searchinput{
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin-top: 13px;
    float: left;
}
#container #header #hbar #link{
    width: 88px;
    height: 60px;
    float: left;
}
#container #header #hbar #link a{
    width: 88px;
    height: 60px;
    color: #FFF;
    line-height: 60px;
    text-decoration: none;
}
#container #header #hbar #link a:hover{
    width: 88px;
    height: 60px;
    color: #F00;
    line-height: 60px;
    text-decoration: underline;
}
#container #main{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
}



#container #main #left{
    width: 890px;
    margin-right: 10px;
    overflow: auto;
    float: left;
}
#container #main #left .TabbedPanels .TabbedPanelsContent .moodbox{
    width: 890px;
    overflow: auto;
}
#container #main #left .TabbedPanels .TabbedPanelsContent .moodbox .moodbox-main{
    width: 290px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    float: left;
}
#container #main #left .TabbedPanels .TabbedPanelsContent .moodbox .moodbox-main .row{
    width: 260px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: #FFF;
    overflow: auto;
}
#container #main #left .TabbedPanels .TabbedPanelsContent .moodbox .moodbox-main .row .images{
    width: 250px;
    height: 200px;
    margin-left: 5px;
    margin-right: 5px;
}
#container #main #left .TabbedPanels .TabbedPanelsContent .moodbox .moodbox-main .row .images img{
    width: 250px;
    height: 200px;
    border-radius: 5px;
    transition: all 0.6s;
}
#container #main #left .TabbedPanels .TabbedPanelsContent .moodbox .moodbox-main .row .images img:hover{
    transform: scale(1.03);
}
#container #main #left .TabbedPanels .TabbedPanelsContent .moodbox .moodbox-main .row .date{
    width: 240px;
    height: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    /* background-color: aquamarine; */
}
#container #main #left .TabbedPanels .TabbedPanelsContent .moodbox .moodbox-main .row .date .day{
    width: 80px;
    color: #939393;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    background-image: url(../images/日历.png);
    background-repeat: no-repeat;
    display: block;
    padding-left: 19px;
    margin-left: 15px;
    margin-bottom: 10px;
    float: left;
}
#container #main #left .TabbedPanels .TabbedPanelsContent .moodbox .moodbox-main .row .comment{
    width: 80px;
    color: #939393;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    background-image: url(../images/评论.png);
    background-repeat: no-repeat;
    display: block;
    padding-left: 19px;
    margin-left: 15px;
    margin-bottom: 10px;
    float: left;
}
#container #main #left .TabbedPanels .TabbedPanelsContent .moodbox .moodbox-main .row .moodmain{
    width: 240px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    overflow: auto;
}
#container #main #left .TabbedPanels .TabbedPanelsContent .moodbox .moodbox-main .row .moodmain .moodmain-title{
    width: 220px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1px;
    overflow: auto;
}
#container #main #left .TabbedPanels .TabbedPanelsContent .moodbox .moodbox-main .row .moodmain .moodmain-main{
    width: 200px;
    color: #939393;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}
#container #main #left .TabbedPanels .TabbedPanelsContent .moodbox .moodbox-main .row .moodmain-from{
    width: 230px;
    height: 20px;
    color: #939393;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    padding-left: 10px;
}
#container #main #left .TabbedPanels .TabbedPanelsContent .moodbox .moodbox-main .row .moodmain-from a{
    color: #4ba6e5;
    text-decoration: none;
}

























#container #main #right{
    width: 300px;
    overflow: auto;
    float: left;
}
#container #main #right .clock-box{
    width: 275px;
	height: 290px;
    padding-top: 20px;
    padding-left: 25px;
	background-repeat: no-repeat;
    background-position: center;
}







#container #main #right .mood{
    width: 300px;
    margin-top: 10px;
    overflow: auto;
}
#container #main #right .mood h4{
    color: #000;
    font-size: 18px;
    margin-left: 20px;
}
#container #main #right .mood .mood-div{
    width: 298px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#container #main #right .mood .mood-div:hover{
    box-shadow: 1px 1px 1px #939393;
}
#container #main #right .mood .mood-div img{
    width: 120px;
    height: 90px;
    margin-left: 3px;
    margin-right: 5px;
    margin-top: 5px;
    transition: all 0.6s;
    float: left;
}
#container #main #right .mood .mood-div img:hover{
    transform: scale(1.06);
}
#container #main #right .mood .mood-div .mood-main{
    width: 165px;
    height: 90px;
    margin-top: 5px;
    float: left;
}
#container #main #right .mood .mood-div .mood-main a{
    color: #000;
    font-size: 13px;
    text-decoration: none;
}
#container #main #right .mood .mood-div .mood-main a:hover{
    color: #4ba6e5;
}
#container #main #right .mood .mood-div .mood-main p{
    margin-top: 18px;
}
